libml @ git+https://github.com/remla25-team14/lib-ml@0.1.6
Flask==3.1.0
flask-openapi3
apispec==6.4.0
pydantic>=2.8.0
joblib==1.4.2
pandas==2.2.3
python-dotenv==1.1.0
Requests==2.32.3
scikit-learn==1.7.0
libversion @ git+https://github.com/remla25-team14/lib-version@main
# For Python >=3.8, pickle is in the standard library. For Python <3.8, uncomment the next line:
# pickle5